
   .tab-content{
    width: 80%;
    margin:auto;
  }

   .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: 400;

  }

  .about-container.dark{
    color:rgba(255, 255, 255, 0.973);
  }

  .about-container.light{
    color:rgb(21, 20, 20);
    font-weight: 600;
  }
  
  .about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .about-section.dark{
    color:antiquewhite;
  }

  .about-section.light{
    color:rgb(21, 20, 20);
    font-weight: 600;
  }

  .about-animation {
    flex: 1;
    max-width: 500px;
  }
  
  .about-text {
    flex: 1;
    max-width: 500px;
    padding: 0.75rem;
    
  }
  
  .about-text h2 {
    margin-bottom: 10px;
  }

  .about-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
  }
  
  
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      text-align: center;
    }

    

    .about-text p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .about-animation {
    flex: 1;
    max-width: 500px;
  }
  
  .about-text {
    flex: 1;
    max-width: 500px;
    
  }
  
  .about-text.dark h2{
     color:#58a6ff;
  }

  .about-text.light h2{
    color: #041120;
  }

  
  .highlight {
    font-weight: bold;
  }

  .highlight.dark{
    color: #3d85d1de; 
  }
  
  .highlight.light{
    color:#1190c7dc;
  }

  @media screen  and (min-width:769px){
    .about-text h2{
      font-size: 2.5rem ;
    } 
  }
  
  @media (max-width: 768px) {
    .about-section {
      flex-direction: column;
      text-align: center;
    }

    .about-container{
      padding: 0.35rem;
    }


  }

  .sub-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .sub-navbar button {
    background-color: transparent;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }

  .sub-navbar.dark button{
    color: white;
    border: 1px solid grey;
  }
  
  .sub-navbar.light button{
    border: 2px solid #041120;;
    color: #041120;
    font-weight: 600;
  }
  .sub-navbar.dark button:hover {
    background-color: #58a6ff8f;

  }

  .sub-navbar.light button:hover{
    background-color: #041120;
    color: #ffffff;
  }
  
  .sub-navbar.dark button.active {
    background-color: #1f6dc0;
  }

  .sub-navbar.light button.active{
    background-color: #041120;
  }

  @media screen and (max-width:468px) {
 
    .sub-navbar button {
      padding: 5px 10px; 
      border-radius: 5px;
      font-size: 10px;
      font-weight: 400;
    }
    .about-text h2{
      font-size: 1.5rem ;
    }
  
  }