/* 
.navbar-cus {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 1rem;
  height: max-content;
  min-width: 100vw;
  background-color: aqua;
}

.navbar-cus.dark{
  background: linear-gradient(
    to right,
    rgba(2, 2, 24, 0.4),
    rgba(5, 5, 57,0.9),
    rgba(2, 2, 24, 0.4)
  );
  color: antiquewhite;
}

.navbar-cus.light{
  background: linear-gradient(
    to right,
    rgba(2, 2, 24),
    rgba(5, 5, 57),
    rgba(2, 2, 24)
  );
  color: rgb(16, 16, 16);
}

.nav-item-text {
  color: antiquewhite;
}


.nav-brand-name-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
}

.navbar-brand-cus {
  width: 30%;
  margin-bottom: 0.85rem;
}

.nav-brand-name h2 {
  font-size: 3rem; 
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.brand-name-first {
  color: transparent;
  -webkit-text-stroke: 2px #05a8f3;
}

.brand-name-second {
  color: #05a8f3;
  -webkit-text-stroke: 2px #05a8f3;
  animation: waves 2s ease-in-out infinite;
}


@media screen and (max-width: 1039px) {
  .navbar-cus {
    font-size: 2rem; 
  }

  .navbar-brand-cus {
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
  }

  .nav-brand-name h2 {
    font-size: 2.5rem; 
  }

  .nav-item-text {
    font-size: 1.25rem; 
  }

}

@media screen and (max-width: 480px) {
  .navbar-cus {
    font-size: 1.8rem; 
  }

  .nav-brand-name h2 {
    font-size: 2rem; 
  }

  .nav-item-text {
    font-size: 1rem; 
  }

}

@keyframes waves {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.brand-name {
  display: flex;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%;
  padding: 1rem;
}


.nav-items {
  height: auto;
  display: none;
  width: 100%;
  align-self: center;
  margin: auto;
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: column;
  border-radius: 10px;
}

.nav-item-content {
  display: flex;
  align-items: center;
  gap: 1.25rem; 
  margin-bottom: 0.3rem;
}

.nav-items li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item-cus:hover {
  color: rgb(53, 159, 150);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.nav-item-cus {
  position: relative;
}

.nav-item-cus::after {
  content: "";
  position: absolute;
  border-radius: 1px;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  background-color: orange;
  width: 0;
  transition: width 0.5s ease-out;
}

.nav-item-cus:hover::after {
  width: 100%;
}

.active::after{
  content: "";
  position: absolute;
  border-radius: 1px;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  background-color: orange;
  width: 100%;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1000;
  color: antiquewhite;
}

.show-menu {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
  justify-self: center !important;
  width: 100% !important;
  margin-left: 180px;
  height: 100vh;
  transition: 0.2 ease;
}

.theme-toggle{
  cursor: pointer;
}

.nav-item-cus.theme-toggle:hover{
  width: 0 !important;
}

.show-menu ul {
  gap: 0.75rem;
  padding: 0.25rem;
  margin: auto;
}

@media only screen and (min-width: 1040px) {
  .navbar-cus {
    flex-direction: row;
    min-height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-icon {
    display: none;
    width: 2rem;
    height: auto;
  }

  .nav-items {
    position: static;
    transform: none;
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
    width: auto;
    height: auto;
    width: 80%;
  }

  .nav-item-content{
    gap:8px;
  }

  .nav-items ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-items li {
    width: auto;
  }
}

.nav-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #e4e4e4;
  text-align: center;
}


.nav-item-icon {
  font-size: 1.2rem; 
}

.nav-item-text {
  font-size: 1rem; 
}

@media (min-width: 1040px) {
  .nav-item-content {
    flex-direction: column;
    align-items: center;
  }

  .nav-item-text {
    font-size: 1.25rem; 
  }
} */


/* Navbar Container */
.navbar-cus {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 1rem;
  height: max-content;
  min-width: 100vw;
  width: 100%;
}

.navbar-cus.dark{
  background: linear-gradient(
    to right,
    rgba(2, 2, 24, 0.4),
    rgba(5, 5, 57,0.9),
    rgba(2, 2, 24, 0.4)
  );
  color: antiquewhite;
}

.navbar-cus.light{
  background: linear-gradient(
    to right,
    rgba(2, 2, 24),
    rgba(5, 5, 57),
    rgba(2, 2, 24)
  );
  color: rgb(16, 16, 16);
}

.nav-item-text {
  color: antiquewhite;
}

/* Brand section */
.nav-brand-name-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
}

.navbar-brand-cus {
  width: 30%;
  margin-bottom: 0.85rem;
}

.nav-brand-name h2 {
  font-size: 3rem; 
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.brand-name-first {
  color: transparent;
  -webkit-text-stroke: 2px #05a8f3;
}

.brand-name-second {
  color: #05a8f3;
  -webkit-text-stroke: 2px #05a8f3;
  animation: waves 2s ease-in-out infinite;
}

/* Adjustments for mobile screens */
@media screen and (max-width: 1039px) {
  .navbar-cus {
    font-size: 2rem; /* Decrease font size on medium screens */
  }

  .navbar-brand-cus {
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
  }

  .nav-brand-name h2 {
    font-size: 2.5rem; /* Decrease font size for the brand name */
  }

  .nav-item-text {
    font-size: 1.25rem; /* Slightly smaller text */
  }

}

@media screen and (max-width: 480px) {
  .navbar-cus {
    font-size: 1.8rem; /* Further reduce font size for smaller screens */
  }

  .nav-brand-name h2 {
    font-size: 2rem; 
  }

  .nav-item-text {
    font-size: 1rem; /* Even smaller text for very small screens */
  }

}

@keyframes waves {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.brand-name {
  display: flex;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%;
  padding: 1rem;
}


.nav-items {
  height: auto;
  display: none;
  width: 100%;
  align-self: center;
  margin: auto;
  /* background-color: blue; */
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  align-self: center;
}

.nav-item-content {
  display: flex;
  align-items: center;
  gap: 1.25rem; 
  margin-bottom: 0.3rem;
}

.nav-items li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item-cus:hover {
  color: rgb(53, 159, 150);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.nav-item-cus {
  position: relative;
}

.nav-item-cus::after {
  content: "";
  position: absolute;
  border-radius: 1px;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  background-color: orange;
  width: 0;
  transition: width 0.5s ease-out;
}

.nav-item-cus:hover::after {
  width: 100%;
}

.active::after{
  content: "";
  position: absolute;
  border-radius: 1px;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  background-color: orange;
  width: 100%;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1000;
  color: antiquewhite;
}

.show-menu {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;          
  width: 100vw;    

}

.nav-items.show-menu {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center;  
  width:100%; 
  padding: 1rem;
  background: rgba(0, 0, 0, 0.201);
 
}


.theme-toggle{
  cursor: pointer;
}

.nav-item-cus.theme-toggle:hover{
  width: 0 !important;
}

.show-menu ul {
  gap: 0.75rem;
  padding: 0.25rem;
  margin: auto;
}

/* For larger screens */
@media only screen and (min-width: 1040px) {
  .navbar-cus {
    flex-direction: row;
    min-height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-icon {
    display: none;
    width: 2rem;
    height: auto;
  }

  .nav-items {
    position: static;
    transform: none;
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
    width: auto;
    height: auto;
    width: 100%;
  }

  .nav-item-content{
    gap:8px;
  }

  .nav-items ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-items li {
    width: auto;
  }
}

.nav-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #e4e4e4;
  text-align: center;
}

/* Default styles (for smaller screens) */

.nav-item-icon {
  font-size: 1.2rem; 
}

.nav-item-text {
  font-size: 1rem; 
}

/* For screens above 767px, align icons and text in a column */
@media (min-width: 1040px) {
  .nav-item-content {
    flex-direction: column;
    align-items: center;
  }

  .nav-item-text {
    font-size: 1.25rem; 
  }
}
